[include]
	path = .gitconfig.local
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
	ignorecase = false
	quotepath = false
	commentChar = ";"
[color]
	ui = auto
[fetch]
	prune = true
[pull]
	rebase = true
	autostash = true
[push]
	default = current
[rebase]
	autosquash = true
[rerere]
	enabled = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[advice]
	skippedCherryPicks = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	a = add
	b = branch
	c = commit
	d = diff
	f = fetch --all
	g = reflog
	l = log
	m = merge
	p = pull
	r = rebase
	s = stash
	t = tag
	w = show
	aa = commit --amend -a --no-edit
	bd = branch -D
	bl = branch -a
	cb = checkout -b
	cm = checkout origin/HEAD
	co = checkout
	cp = cherry-pick
	cx = checkout 'HEAD@{1}'
	df = difftool
	du = difftool @{upstream}
	fm = fetch origin master:master
	gg = grep --line-number --show-function --heading --break
	mm = merge origin/HEAD
	pf = push --force-with-lease
	re = reset --soft HEAD~
	rh = reset --hard
	ri = rebase -i origin/HEAD
	rr = rebase origin/HEAD
	rs = reset --soft
	sl = stash list
	st = status
	su = submodule update
	pop = stash pop
	amend = commit --amend --no-edit
	shallow = clone --depth 1
	patch = format-patch -1 HEAD
	ignore = update-index --skip-worktree
	skip-worktree = update-index --skip-worktree
	assume-unchanged = update-index --assume-unchanged
	set-head = remote set-head origin main
