.gitconfig
*.gitignore.*

.DS_Store
*.swp
.nfs*

#--

.java-version
.scala-version
.sbt-version

#--

tmp
bin
build
obj
vender/bundle
node_modules
bower_components
flow-typed
.bundle
*.tsbuildinfo

#--

*.prj
*.csv

#--

*.jpg
*.png
*.gif
*.ai
*.pdf

#--

*.retry
.vagrant
.terraform

#--

*.log
*.out
*.patch

#--

.idea
/cmake-build-debug
/CMakeLists.txt

metastore_db

#--

*.pem

#--

tmp.*

#--

.aws
.vscode

#--

*.dem
